/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
}

table {
  width: 100%;
}

/* Table  */
.product-table th,
.product-table td {
  text-align: left;
}
/* Row styles */
tr {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #eee;
  border-collapse: collapse;
  padding-top: 0.33rem;
}

tr.header {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

/* Cell styles */
td {
  text-overflow: ellipsis;
  padding-right: 20px;
}

th {
  color: #aaa;
  border-bottom: 1px solid #eee;
}

table .id {
  display: none;
}

th.total {
  text-align: right;
  padding-right: 20px;
}

.product {
  text-transform: capitalize;
  font-weight: 500;
}

.description {
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: none;
}

th.total,
td.total {
  text-align: right;
  width: 10%;
}

.quantity {
  width: 10%;
}

.input-quantity {
  width: 40px;
}
