/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 15px;
}

table {
  width: 100%;
}

/* Table  */
.food-table th,
.food-table td {
  text-align: left;
}
/* Row styles */
.table-row {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 0.33rem;
}

.table-row.header {
  background-color: #ffeedb;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

/* Cell styles */
.table-cell {
  text-overflow: ellipsis;
  padding-right: 20px;
}

.table-cell.add,
.table-cell.remove {
  text-align: center;
}

.table-cell.subtotal {
  font-weight: bolder;
}

/* Table-buttons styles */
.button {
  display: block;
}
