/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
}

table {
  width: 100%;
}

/* Table  */
.product-table th,
.product-table td {
  text-align: left;
}
/* Row styles */
.table-row {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #eee;
  border-collapse: collapse;
  padding-top: 0.33rem;
}

.table-row.header {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

/* Cell styles */
.table-cell {
  text-overflow: ellipsis;
  padding-right: 20px;
}

.table-cell.header {
  color: #aaa;
  border-bottom: 1px solid #eee;
}
.table-cell.id {
  display: none;
}

.table-cell.product {
  text-transform: capitalize;
  font-weight: 500;
}

.table-cell.product .description {
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: none;
}

.table-cell.total {
  text-align: right;
}
.table-cell.quantity {
  width: 10%;
}

input.quantity {
  width: 40px;
}
